[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "mirrorsaliyun"

[packages]
flask = {version = "*", index = "mirrorsaliyun"}
python-dotenv = {version = "*", index = "mirrorsaliyun"}
flask-sqlalchemy = "*"
flask-ckeditor = "*"
flask-wtf = "*"
flask-login = "*"

[dev-packages]
watchdog = {version = "*", index = "mirrorsaliyun"}

[requires]
python_version = "3.10"
